@model List<Data>

<div class="display-6 text-center text-primary m-3 p-3 w-50">User List Page</div>
<div class="m-3 p-3">
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Username</th>
            <th scope="col">Name</th>
            <th scope="col">Surname</th>
            <th scope="col">Date</th>
            <th scope="col">Email</th>
            <th scope="col">Password</th>

        </tr>
    </thead>
    <tbody>
        @{
            var index = 1;
        }
    @foreach(var user in Model)
    {
            <tr>
                <th scope="row">@index</th>
                <td>@user.Username</td>
                <td>@user.Name</td>
                <td>@user.Surname</td>
                <td>@user.Birthday</td>
                <td>@user.Email</td>
                <td>@user.Password</td>
            </tr>
            index++;
    }
    </tbody>
</table>
</div>